body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E6ECEF;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}


.header-layout {
  width: 100vw;
}

.main-layout {
  background-color: #E6ECEF;
  flex: 1;
  order: 1;
  margin-top: 3px;
  width: 100vw;
  min-height: 500px;
}

